<div>
  USERS 
  <span class="list-group-item-success">Enabled</span> 
  <span class="list-group-item-danger">Disabled</span>
  <span>★Admin★</span> 

  <br />
  <code id="manage-error"></code>

  <br />
  <ol class="list-group list-group-numbered pull-left">
    {{#each enabledUsers}}
      <li class="list-group-item d-flex justify-content-between list-group-item-success">
        <h3 class="mt-3"><a href="/users/{{id}}">{{name}}</a> {{#if isAdmin}} ★ {{/if}} 
          <button type="button" class="btn btn-danger pull-right delete-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from DB" data-user={{id}}>Delete</button>
          <button type="button" class="btn btn-secondary pull-right disable-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Revoke Public Access" data-user={{id}}>Disable</button>
        </h3>
      </li>
    {{/each}}
  </ol>
  <ol class="list-group list-group-numbered pull-right">
    {{#each disabledUsers}}
      <li class="list-group-item d-flex justify-content-between list-group-item-danger">
        <h3 class="mt-3"><a href="/users/{{id}}">{{name}}</a> {{#if isAdmin}} ★ {{/if}} 
          <button type="button" class="btn btn-danger pull-right delete-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from DB" data-user={{id}}>Delete</button>
          <button type="button" class="btn btn-success pull-right enable-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Public Access" data-user={{id}}>Enable</button>
        </h3>
      </li>
    {{/each}}
  </ol>
</div>

<script src="/scripts/utils.js"></script>
<script src="/scripts/users/manage-users.js"></script>
